<div>
  <h1>Listado de temas</h1>
  <div class="d-flex flex-column">
    <a routerLink="/first">Mostrar primer componente</a>
    <a routerLink="/databinding">Acerca del data binding</a>
    <a routerLink="/comunication">Comunicacion entre componentes</a>
    <a routerLink="/pipes">Pipes</a>
    <a routerLink="/directives">Directivas</a>
    <a routerLink="/crud">Servicios y formularios</a>
    <a routerLink="/lazy">Lazy loading</a>
    <a routerLink="/guards">Guards</a>
  </div>

  <router-outlet></router-outlet>
</div>

