<div class="card">
    <h1>Users crud</h1>
    <div>
        <app-create (dataCreated)="save($event)"></app-create>
    </div>
    <div class="separator">
        <div class="card-container">
            <div class="card" *ngFor="let user of users">
                <div class="users-content-header">
                    <div class="image-container">
                        <img [src]="user.image" alt="user image">
                    </div>
                    <h3>id: {{user.id}} {{ user.name }}</h3>
                </div>

                <div>
                    <p>Email: {{ user.email }}</p>
                    <p>Phone: {{ user.phone }}</p>
                </div>                
            </div>
        </div>
    </div>
</div>