.users-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 60px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.red-icon {
    color: #ee0000;
}